<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIViewSnapshot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE83DC021E503C8000844968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE83DC1B1E503C8100844968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE83DC261E503C8100844968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
